# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Локальные файлы
.env
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Системные
.DS_Store
Thumbs.db

# Загрузки
uploads/

# Бэкапы
*.bak
*_backup*